<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="notime-order-delivery-date" instance="Notime\Shipping\Observer\QuoteSubmitBefore" />
    </event>
    <event name="sales_order_place_after">
        <observer name="notime-sales-order-place-after" instance="Notime\Shipping\Observer\OrderPlaceAfter" />
    </event>
</config>